/* Define global variable colors */
:root {
  --primary-color: #673ab8;

  /* Weak colour for backgrounds */
  --tenary-color: #fbfafc;
}

/* Colors for light-theme */
body {
  --text-color: black;
  --background-color: var(--tenary-color);
  --icon-color: black;
  --radio-btn-selected-color: var(--primary-color);
  --radio-btn-unselected-color: #757172;
  --border-color: grey; /* For the materialUI input textfields */
  --label-color: white;
  --form-label-color: #737374;
  --form-label-focused-color: #3f51b5;
  /* out of use UFN
    --box-shadow-color: grey; */
}

/* Dark theme colors */
body.dark-theme {
  --primary-color: #bc86fc; /* Purple 200 */
  --text-color: white;
  --background-color: #121212; /* dark grey */
  --icon-color: white;
  --radio-btn-selected-color: white;
  --radio-btn-unselected-color: #757172;
  --border-color: grey; /* For the materialUI input textfields */
  --label-color: white;
  --form-label-color: #737374;
  --form-label-focused-color: #90caf9;

  /* out of use UFN
  --box-shadow-color: grey; */
}
