@import './App-variables.css';

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
}

.AppContainer {
  color: var(--text-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Overide some Material UI component defaults (FIX ME: unideal use of important. Change to edit via the materialUI component)
see https://material-ui.com/customization/components/#overriding-styles-with-classes */
.MuiInputBase-input {
  /* Determines input text - e.g. text inside toDo form input, search text */
  color: var(--text-color) !important;
}

.MuiInputBase-root {
  /* Determines icon color - e.g. pen icon in toDo form input */
  color: var(--icon-color) !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  /* Determines input-radio-color: (selected) */
  color: var(--radio-btn-selected-color) !important;
}

.MuiIconButton-colorSecondary {
  /* Determines input-radio-color: (un-selected) */
  color: var(--radio-btn-unselected-color) !important;
}

/* Determines form label* color when not in focus (* e.g. Show above radio button group )*/
.MuiFormLabel-root {
  color: var(--form-label-color) !important;
}

/* Determines form label* color when IN focus */
.MuiFormLabel-root.Mui-focused {
  color: var(--form-label-focused-color) !important;
}
