/* Uncompleted toDo */
.toDo__text,
.toDo__tickBox {
  border: 1px solid #673ab8;
  border-radius: 4px;
  padding: 8px 8px;
  margin: 10px 17px;
  box-shadow: 0px 10px 4px -9px rgba(153, 145, 153, 1);
}

/* Completed toDo */
.toDo__text.toDo--isComplete {
  color: rgba(150, 143, 143, 0.899);
  text-decoration: line-through;
}
/*
  alignment:-
  see https://stackoverflow.com/questions/46569692/displaying-flexbox-centered-but-align-items-left-like-text-align-left
*/
