.toDo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  margin: 2px;
}

.toDo__text, .toDo__tickBox {
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 8px 8px;
}

/*
  alignment:-
  see https://stackoverflow.com/questions/46569692/displaying-flexbox-centered-but-align-items-left-like-text-align-left
*/
